$default-indent: 1rem;
$small-indent: 0.5rem;

$accent-color: rgb(40, 180, 40);
$warn-color: rgb(202, 63, 63);
$shadow-color: rgba(0, 0, 0, 0.24);
$border-color: rgb(17, 15, 15);
$white: rgb(255, 255, 255);
$grey: rgb(194, 194, 194);

$border: 0.1rem solid $border-color;
$border-radius: 0.5rem;

$modal-width: 20rem;