@import "var";
@import "mixin";

:host {
  $el-padding: 0.2rem;
  $el-radius: 0.2rem;

  .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .form {
      padding: $default-indent;
      border-radius: $border-radius;
      box-shadow: 0 0 4rem $shadow-color;
      display: flex;
      flex-direction: column;
      gap: $default-indent;

      .hint{
        transition: opacity 0.4s;
        color: $warn-color;
      }

      .hidden{
        opacity: 0;
      }

      .input,
      .button {
        padding: $el-padding;
        border-radius: $el-radius;
        border: $border;
      }

      .button {
        @include button();
      }
    }
  }
}
