@import "var";
@import "mixin";

:host {
  .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .count {
      font-size: 5rem;
      display: flex;
      align-items: center;
    }

    .increment {
      @include button();
      margin-left: $default-indent;
      font-size: 3rem;
      border-radius: 1rem;
      padding: $small-indent;
    }
  }
}
